<!-- ### Complete - Default ### -->
<h2>$content.Date.getFormattedDate("dd/MM/yyyy") &mdash; $content.Title.text</h2>
#if ( $content.Story.text != "" )
$content.Story.getTextBeforeImage(0)
#if ( $content.Image_1.imagePath("3") != "" )
<a href="$content.Image_1.imagePath("0")"><img src="$content.Image_1.imagePath("3")" alt="$content.Image_1.text" class="right" title="$i18n.getLabel('SEE_FULL_SIZE')" /></a>
#end 
$content.Story.getTextAfterImage(0)
#end

#if ($content.Attaches && $content.Attaches.size() > 0)

<h3 class="clear">$i18n.getLabel('ATTACHES')</h3>
	<ul>
		#foreach ($attach in $content.Attaches)
		<li><a href="$attach.attachPath">$attach.text</a></li>
		#end	
	</ul>
#end

#if ($content.Sources && $content.Sources.size() > 0)

<h3 class="clear">$i18n.getLabel('LINKS')</h3>
	<ul>
		#foreach ($link in $content.Sources)
		<li><a href="$link.destination">$link.text</a></li>
		#end	
	</ul>
#end