<!-- ### Homepage - Image Left ### -->
<article>
<h3><a class="noborder" href="$content.contentLink">$content.Title.text</a></h3>
#if ($content.Abstract.text != "")
  $content.Abstract.getTextBeforeImage(0)
#if ( $content.Image_1.imagePath("2") != "" )
<a class="noborder" href="$content.Image_1.imagePath("0")"><img src="$content.Image_1.imagePath("2")" alt="$content.Image_1.text" class="left" /></a>
#end
  $content.Abstract.getTextAfterImage(0)
#end
</article>